@import "src/variables.scss";
.button {
      .modal__content {
            padding: 0px;
            position: absolute;
            border: none;
            border-radius: 3px;
            box-shadow: $shadow-modal;
      
      
      }.delete-event-btn {
            cursor: pointer;
            border: none;
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            width: 150px;
            height: 38px;
            border-radius: 3px;
            background: $bacground-color-light-gray;
            &__text{
            margin-top: auto;
            margin-bottom: auto;
            }
            &__icon {
                  margin-top: auto;
                  margin-bottom: auto;
            }
      }

}

