@import "src/variables.scss";
.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
    padding-left: 48px;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid $border-color-ligth-gray;
  }
}
.day-label{

  &__day-number {
    margin: auto;
  
  }
  &__day-number-block {
    display: flex;
    width: 34px;
    height: 34px;
  }
}


.activ-date{
      width: 34px;
      height: 34px;
      background-color: $bacground-color-blue;
      color: $color-white;
      border-radius: 50%;
}
.activ-day{
  color:$color-blue;
}