@import "src/variables.scss";
.event {
  position: absolute;
  width: 80%;
  background-color: $bacground-color-blue-btn;
  z-index: 1;
  border-radius: 8px;
  padding: 8px;
  color: $color-white;
  position: relative;

  &__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 8px;
  }

  &:hover {
    font-weight: bold;
    background-color: $bacground-color-red-hover;
  }
}


