@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.search {
  width: 760px;
  justify-content: center;
  margin: auto;
  width: 100%;
  @include for-large-up {
    width: 760px;
  }

  &__line-svg {
    width: 30px;
    left: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    @include for-large-up {
      width: 44px;
      left: 15px;
    }
  }
  &__line {
    position: relative;
    margin-top: 24px;
  }
  &__line-input {
    border: none;
    height: 50px;
    padding: 0 20px 0 45px;
    border-radius: 0;
    font-size: 16px;
    width: 100%;
    @include for-large-up {
      padding-left: 70px;
      padding-right: 220px;
      width: 100%;
      height: 80px;
      font-size: 24px;
      border-radius: 0 80px 0 0;
    }
  }
  &__line-input::placeholder {
    color: $color-dark-gray;
    opacity: 0.5;
    font-weight: 300;
  }
  &__line-input:focus {
    outline: 0;
  }
  &__line-button {
    display: none;
    @include for-large-up {
      display: block;
      text-transform: uppercase;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-weight: 700;
      width: 200px;
      background: $bacground-color-blue;
      color: $color-white;
      font-size: 20px;
      border-radius: 0 80px 0 0;
      text-align: left;
      padding: 0 20px;
      cursor: pointer;
    }
  }
}
.cls-1 {
  fill: none;
}

.cls-2 {
  fill: $color-silver;
}
