@import '../../../breakpoints.scss';
@import 'src/variables.scss';
.search-result {
  margin-top: 40px;
  width: 100%;
  background: $bacground-color-white;
  border-radius: 67px 67px 0px 0px;

  &__dates-conteiner {
    display: flex;
    flex-direction: row;
    color: $color-white-smoke;
    margin-left: 30px;
    width: 300px;
    cursor: pointer;
    margin-right: 10px;
  }
  &__dates {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__dates-calendar {
    margin-left: 10px;
    cursor: pointer;
  }
  &__date-header {
    display: flex;
    flex-direction: row;
    height: 55px;
  }
  &__date-name {
    font-weight: 700;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 5px;
  }
  &__date-num {
    font-size: 12px;
    margin-bottom: 5px;
    margin: auto;
  }
  &__date {
    display: flex;
    flex-direction: column;
    border-bottom: $border-big-gray;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
}
.nav-list {
  display: flex;

  &__item {
    color: $color-white;
    border-color: $border-color-gray;
    text-decoration: none;
    text-transform: uppercase;
    background: $bacground-color-light-blue;
    display: inline-block;
    display: flex;
    flex: 1 1 auto;
    line-height: 50px;
    font-size: 14px;
    @include for-large-up {
      font-size: 24px;
      line-height: 60px;
    }
  }
  &__item:hover {
    background: $bacground-color-blue;
  }

  &__item-selected {
    background-color: $bacground-color-white;
    color: $color-blue-selected;
    display: inline-block;
    padding-left: 0;
    z-index: 1;
    display: flex;
  }

  &__item-selected:hover {
    background-color: $bacground-color-white;
    color: $color-blue-selected;
  }
  &__item-selected .nav-list__item-icon path {
    fill: $bacground-color-blue;
  }
}
.show-calendar {
  font-size: 12px;
  font-weight: 700;
  color: $color-blue;
  display: inline-block;
  text-align: center;
}
.show-calendar::after {
  content: '';
  height: 40px;
  width: 40px;
  display: block;
  background: $bacground-color-blue url(../../../img/calendar.SVG) center no-repeat;
  background-size: 70%;
}
.nav-left {
  justify-content: left;
  margin-right: -30px;
  @include for-large-up {
    justify-content: right;
    padding-right: 100px;
    border-radius: 60px 0px 0px 0px;
    margin-right: -60px;
  }
}
.nav-right {
  border-radius: 0 30px 0 0;
  border-radius: 0;
  justify-content: right;
  flex-direction: row-reverse;
  @include for-large-up {
    border-radius: 0px 60px 0px 0px;
    flex-direction: revert;
    justify-content: left;
    padding-left: 100px;
  }
}
.nav-left.nav-list__item-selected {
  border-radius: 0 30px 0 0;
  @include for-large-up {
    border-radius: 60px 60px 0 0;
    margin-right: -60px;
  }
}
.nav-right.nav-list__item-selected {
  border-radius: 30px 0 0 0;
  @include for-large-up {
    padding-right: 100px;
    border-radius: 60px 60px 0 0;
  }
}
.nav-list__item-icon {
  display: flex;
}
.nav-list__item-icon svg {
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.search-result__dates-calendar .react-datepicker {
  position: absolute;
}
.active-date {
  color: $color-blue;
  border-bottom: $border-big-blue;
}
