$border-color-red: #ff0000;
$border-color-red-time-line:#ea4335;
$border-color-ligth-gray: #eee;
$border-color-ligth-middle-gray:#ccc;

$bacground-color-red:#ea4335;
$bacground-color-red-hover:#ff0000;
$bacground-color-blue:#1a73e8;
$bacground-color-blue-btn: #6495ed;
$bacground-color-gray:#cccccc45;
$bacground-color-light-gray:#ffffffcc;

$color-white:#ffffff;
$color-blue:#1a73e8;
$color-red:#ff0000;

$shadow-card: 0px 6px 6px rgba(0, 0, 0, 0.087466);
$shadow-modal:0px 1px 5px 0px rgb(60 64 67 / 15%),
0px 1px 3px 1px rgb(60 64 67 / 5%);