$bacground-color-white: #fff;
$bacground-color-blue: #1eb7ee;
$bacground-color-steelBlue: rgba(0, 102, 135, 0.1);
$bacground-color-light-gray: #e7efec;
$bacground-color-light-blue: #73d2f0;

$color-light-gray: #95989a;
$color-white-smoke: #b8b9b9;
$color-green: #63c745;
$color-blue: #1eb7ee;
$color-blue-selected: #20b7ee;
$color-white: #fff;
$color-dark-gray: #212529;
$color-silver: #95989a;

$font-color: #2f2f2f;

$hover-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

$border-blue: 1px solid #1eb7ee;
$border-big-blue: 3px solid #1eb7ee;
$border-green: 1px solid #63c745;
$border-black: 4px solid black;
$border-big-gray: 3px solid #d0d0d0;

$border-color-gray: #dee2e6 #dee2e6 #fff;
